@font-face {
  font-family: 'FreightBigProBla';
  src: local('./fonts/Freight Big Pro/FreigBigProBla.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProBlaIta';
  src: local('./fonts/Freight Big Pro/FreigBigProBlaIta.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProBol';
  src: local('./fonts/Freight Big Pro/FreigBigProBol.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProBolIta';
  src: local('./fonts/Freight Big Pro/FreigBigProBolIta.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProBoo';
  src: local('./fonts/Freight Big Pro/FreigBigProBoo.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProBooIta';
  src: local('./fonts/Freight Big Pro/FreigBigProBooIta.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProLig';
  src: local('./fonts/Freight Big Pro/FreigBigProLig.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProLigIta';
  src: local('./fonts/Freight Big Pro/FreigBigProLigIta.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProMed';
  src: local('./fonts/Freight Big Pro/FreigBigProMed.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProMedIta';
  src: local('./fonts/Freight Big Pro/FreigBigProMedIta.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProSem';
  src: local('./fonts/Freight Big Pro/FreigBigProSem.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigProSemIta';
  src: local('./fonts/Freight Big Pro/FreigBigProSemIta.otf') format('opentype');
}

@font-face {
  font-family: 'GothamBlack';
  src: local('./fonts/Gotham/Gotham-Black.otf') format('opentype');
}

.App {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Nav {
  padding: 0px 10%;
  box-sizing: border-box;
  width: 100%;
  height: 12%;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.Nav-title {
  font-size: 28px;
  font-weight: bold;
  font-family: 'FreightBigProSemIta';
}

.Nav-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 40px;
  object-fit: contain;
}

.Nav-cat {
  padding: 0px 10%;
  width: 100%;
  height: 8%;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
}

.Nav-cat-item {
  position: absolute;
  left: 8%;
  top: 6%;
  width: calc(84%);
  height: calc(94%);
  color: rgb(150, 150, 150);
  font-size: 12px;
  line-height: 1;
}

.Select {
  font-family: 'GothamBlack';
}